<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Footer</title>
        <link rel="stylesheet" href="/footer.css" />
    </head>
    <body>
        <!-- Footer -->
        <div class="footer">
            <div class="links">
                <a
                    class="fa-brands fa-instagram"
                    href="https://www.instagram.com/yamuna.898"
                ></a>
                <a
                    class="fa-brands fa-linkedin"
                    href="https://www.linkedin.com/in/yamunar898/"
                ></a>
                <a
                    class="fa-brands fa-github"
                    href="https://github.com/yamuna898"
                ></a>
                <a class="fa-brands fa-square-x-twitter"></a>
                <a class="fa-brands fa-discord"></a>
                <a class="fa-solid fa-link"></a>
            </div>
            <div class="contact">
                <p>stayhunt@gmail.com &nbsp; yamuna845@gmail.com</p>
            </div>
            <div class="limited"><p>&copy;StayHunt Inc</p></div>

            <div class="policy">
                <p>·Privacy · TermsCompany · Details</p>
            </div>
        </div>
    </body>
</html>
