<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
            integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            /* Nav bar */
            .navbar {
                background-color: #fff;
                position: fixed;
                top: 0;
                margin-bottom: 100px;
                height: 45px;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 20px;
                border-bottom: 1px solid #dcd7d7;
            }

            .navleft,
            .navright {
                display: flex;
                gap: 20px;
            }

            .navbar a {
                text-decoration: none;
                font-size: 12px;
                color: #333;
            }

            .navbar a:hover {
                color: #ff002f;
            }

            /* Footer */
            .footer {
                width: 100%;
                background-color: #f1f0f0;
                padding: 50px;
                margin-top: 150px;
                position: relative;
                bottom: 0px;
            }
            .links {
                display: flex;
                gap: 15px;
                justify-content: center;
                margin-bottom: 25px;
            }
            .contact,
            .limited,
            .policy {
                display: flex;
                justify-content: center;
            }
            .contact p,
            .limited p,
            .policy p {
                margin: 5px;
            }
        </style>
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navleft">
                <i
                    class="fa-regular fa-compass"
                    style="color: #ff002f; font-size: 15px"
                ></i>
                <a href="/listings">Home</a>
                <a href="/experiences">Experiences</a>
                <a href="/services">Services</a>
            </div>
            <div class="navright">
                <a href="/new">Add New listing</a>
                <a href="/lang">EN</a>
                <a href="/help">Help</a>
            </div>
        </nav>
        <!-- ============CODE============= -->
        <!-- Footer -->
        <div class="footer">
            <div class="links">
                <a
                    class="fa-brands fa-instagram"
                    href="https://www.instagram.com/yamuna.898"
                ></a>
                <a class="fa-brands fa-linkedin"></a>
                <a class="fa-brands fa-github"></a>
                <a class="fa-brands fa-square-x-twitter"></a>
                <a class="fa-brands fa-discord"></a>
                <a class="fa-solid fa-link"></a>
            </div>
            <div class="contact">
                <p>stayhunt@gmail.com &nbsp; yamuna845@gmail.com</p>
            </div>
            <div class="limited"><p>&copy;StayHunt Inc</p></div>

            <div class="policy">
                <p>·Privacy · TermsCompany · Details</p>
            </div>
        </div>
    </body>
</html>
