<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NavBar</title>
        <link rel="stylesheet" href="/navbar.css" />
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar">
            <div class="navleft">
                <i
                    class="fa-regular fa-compass"
                    style="color: #ff002f; font-size: 15px"
                ></i>
                <a href="/listings">Home</a>
                <a href="/listings/experiences">Experiences</a>
                <a href="/listings/services">Services</a>
            </div>
            <div class="navright">
                <a href="/listings/new">Add New listing</a>
                <a href="/listings/lang">EN</a>
                <a href="/listings/help">Help</a>
            </div>
        </nav>
    </body>
</html>
