<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Edit Listing</title>
        <link rel="stylesheet" href="/addnew.css" />
        <link
            href="https://cdn.jsdelivr.net"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <div class="page">
            <h1>Add new Listing</h1>
            <form
                class="edit-form needs-validation"
                method="post"
                action="/listings/new?_method=PATCH"
            >
                <div class="field">
                    <label for="validationCustom01" class="form-label"
                        >Title</label
                    >
                    <input
                        type="text"
                        name="title"
                        placeholder="Enter meaningful title"
                        class="form-control"
                        id="validationCustom01"
                        required
                    />
                </div>

                <div class="field">
                    <label for="validationServer02" class="form-label"
                        >Description</label
                    >
                    <input
                        type="text"
                        name="description"
                        placeholder="Enter description"
                        class="form-control"
                        id="validationServer02"
                        required
                    />
                </div>

                <div class="field">
                    <label for="validationServer03" class="form-label"
                        >Image Link</label
                    >
                    <input
                        type="text"
                        name="url"
                        placeholder="Add image for more reach"
                        class="imgurl form-control"
                        id="validationServer03"
                        required
                    />
                    <!-- Image preview -->
                    <img
                        id="imgPreview"
                        src=""
                        alt="Image preview"
                        style="max-width: 200px; margin: 10px"
                    />
                </div>

                <div class="row">
                    <div class="field price">
                        <label for="validationServer04" class="form-label"
                            >Price</label
                        >
                        <div class="price-box">
                            <span>₹</span>
                            <input
                                type="text"
                                name="price"
                                placeholder="Enter price"
                                class="form-control"
                                id="validationServer04"
                                required
                            />
                        </div>
                    </div>

                    <div class="field">
                        <label for="validationServer05" class="form-label"
                            >Country</label
                        >
                        <input
                            type="text"
                            name="country"
                            placeholder="enter plot's country"
                            class="form-control"
                            id="validationServer05"
                            required
                        />
                    </div>
                </div>

                <div class="field">
                    <label for="validationServer06" class="form-label"
                        >Location</label
                    >
                    <input
                        type="text"
                        name="location"
                        placeholder="Enter plot location"
                        class="form-control"
                        id="validationServer06"
                        required
                    />
                </div>

                <div class="field">
                    <label for="validationServer07" class="form-label"
                        >Email</label
                    >
                    <input
                        type="email"
                        name="email"
                        placeholder="Enter email for clients to contact you"
                        class="form-control"
                        id="validationServer07"
                        required
                    />
                </div>
                <button class="btn btn-primary" type="submit">
                    Make changes
                </button>
            </form>
            <a href="/listings" class="back">← Back to Listing</a>
        </div>
        <%- include('includes/footer') %>
    </body>
    <script src="/imgPreview.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</html>
