* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Main page */
.page {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}
.back {
    display: block;
    margin: 80px 0 40px 0;
    font-size: 14px;
    text-decoration: none;
    color: black;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.image {
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
    background-color: rgba(232, 236, 231, 0.734);
    object-fit: cover;
    overflow: hidden;
    transition:
        transform 0.5s ease,
        height 0.25s ease;
    display: block;
    border-radius: 14px;
}
.image:hover {
    transform: translateY(-6px);
    height: 400px;
}
.description {
    font-size: 17px;
    margin: 8px 0;
    color: #444;
    line-height: 1.5;
    margin-bottom: 20px;
}

.price {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}

.rating {
    font-size: 14px;
}
.about {
    margin-bottom: 20px;
}
.location {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
}

.country {
    font-size: 14px;
    color: #555;
    margin-bottom: 30px;
}

.actions {
    display: flex;
    gap: 10px;
}

.editbtn {
    background: #ff385c;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}

.deletebtn {
    background: #222;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
}
