/* Navbar */
.navbar {
    z-index: 10;
    background-color: #fff;
    position: fixed;
    top: 0;
    margin-bottom: 100px;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid #dcd7d7;
}

.navleft,
.navright {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    font-size: 12px;
    color: #333;
}

.navbar a:hover {
    color: #ff002f;
}
h1 {
    margin: 80px 0 0 35px;
}
